@import 'abrusco/src/-reset';
@import 'abrusco/src/-normalize';
@import 'abrusco/src/-variables';

@import '-button';
@import '-copy';

@import 'abrusco/src/-type';
@import 'abrusco/src/-visibility';
@import 'abrusco/src/-grid';
@import 'abrusco/src/-spacing';
@import 'abrusco/src/-border';
@import 'abrusco/src/-color';
@import 'abrusco/src/-background';
@import 'abrusco/src/-cursor';

@import 'abrusco/src/-debug';

@import '-wrap';
@import '-header';

/* addons */

.max44 { max-width: 44rem; }
.wmax  { max-width: 100%; }

/* components */

.x-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.link--chevron {
  &::after {
    content: "\2192";
    display: inline-block;
    margin-left: .25em;
  }
}
