@import 'abrusco/src/-reset';
@import 'abrusco/src/-normalize';
@import 'abrusco/src/-variables';

@import '-button';
@import '-copy';

@import 'abrusco/src/-type';
@import 'abrusco/src/-visibility';
@import 'abrusco/src/-grid';
@import 'abrusco/src/-spacing';
@import 'abrusco/src/-border';
@import 'abrusco/src/-color';
@import 'abrusco/src/-background';
@import 'abrusco/src/-cursor';

@import 'abrusco/src/-debug';

/* header */

#menu-invoke {
  position: absolute;
  left: -9999px;
  &:checked + * #menu {
    display: block;
  }
}

.hero,
.hero__content {
  min-height: 100vh;
}

.hero {
  position: relative;
  /* Sailor Blue on Mint */
  background-color: #adefd1;
  color: #00203f;
}

.hero__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 2;
}

/* responsivity */

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 22rem;
}

@media (--view-sd) {

  .wrap {
    max-width: 24rem;
  }

}

@media (--view-md) {

  .wrap {
    max-width: 46rem;
  }

}

@media (--view-ld) {

  .wrap {
    max-width: 80rem;
  }

}

@custom-media --view-sd (min-width: 24rem);
@custom-media --view-md (min-width: 41rem);
@custom-media --view-ld (min-width: 80rem);
@custom-media --view-xl (min-width: 90rem);

/* components */

.link--chevron {
  &::after {
    content: "\2192";
    display: inline-block;
    margin-left: .25em;
  }
}
